@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body{
    background-color: #E5E5E5;
    overflow: hidden;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

.wrapper{
	position: absolute;
    top: 50px;
    left: 85%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.3);
    width: 300px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    z-index:999;
}
.navbar-nav{
    padding-right: 500px;
   }
   .nav-item{
       padding-right: 50px ;
   }
   .navbar-nav .nav-item .nav-link{
       position: relative;
       right: -120px;
   }
.navbar{
    z-index:999;
}
.dot2{
    position: absolute;
    width: 500px;
    height: 400px;
    left: -80px;
    top: 450px;
    border-radius: 50%;
    display: inline-block;
    background-color: #5DB06A;
   }
.dot{
    position: absolute;
    width: 800px;
    height: 800px;
    right: -150px;
    top: -200px;
    border-radius: 50%;
    display: inline-block;
    background-color: #5DB06A;
}
.title{
    position: absolute;
    width: 602px;
    height: 174px;
    left: 200px;
    top: 150px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #555555;
}
.con{
    position: absolute;
    width: 602px;
    height: 174px;
    left: 240px;
    top: 200px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: black;
}
.parag{
    position: absolute;
width: 514px;
height: 180px;
left: 120px;
top: 300px;

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
/* or 135% */

color: #454E5B;
}
.btn-primary{
    background-color: #5DB06A;
    border-radius: 20px;
    border-style: none;
    width: 170px;
    height: 60px;
    position: relative  ;
    left: 400px;
    top: 150px;
}