body{
    background-color: #E5E5E5;
    overflow: hidden;
}
.navbar-nav{
 padding-right: 500px;
}
.nav-item{
    padding-right: 50px ;
}
.navbar-nav .nav-item .nav-link{
    position: relative;
    right: -120px;
}
.bgdesign{
    margin: 12px;
    position: relative;
    top: -150px;
    left: 50px;
    
}
.headertitle{
    position: absolute;
    width: 647px;
    height: 111px;
    left: 280px;
    top: -50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #3B5347;
}
    .dot{
    position: absolute;
    width: 900px;
    height: 750px;
    left: -200px;
    top: 250px;
    border-radius: 50%;
    display: inline-block;
    background-color: #83f28f;
    z-index: -1000;
}
.content p{
    position: absolute;
    width: 424px;
    height: 243px;
    left: 790px;
    top: 350px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    align-content: center; 
    text-align: justify;
    color: #454E5B;
}
.btn-primary{
    background-color: #83f28f;
    border-radius: 20px;
    border-style: none;
    font-weight: 500;
    width: 170px;
    height: 60px;
    position: relative  ;
    left: 790px;
    top: 638px;
}
.container{
    position: absolute;
    bottom: -640px;
    left: 50px;
}
.carousel{
    width:600px;
    height:350px;
}
.carousel-inner > .carousel-item > img {
    width:600px;
    height:350px;
    border-radius: 20px;

  }

.carousel .carousel-indicators{
    position: absolute;
    left: 12px;
}