* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: 'Kantumruy Pro', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #83f28f;
  background: -webkit-linear-gradient(-135deg, #83f28f, #0C3823);
  background: -o-linear-gradient(-135deg, #83f28f, #0C3823);
  background: -moz-linear-gradient(-135deg, #83f28f, #0C3823);
  background: linear-gradient(-135deg, #83f28f,#0C3823);

}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 350px;
  position: relative;
  left: 20px;
  bottom: -50px;
}

.login100-pic img {
  max-width: 100%;
}
img{
  height: 300px;
  width: 400px;
  position: relative;
  top: -6rem;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
  position: relative;
  top: -60px;
}
.note100-form {
  width: 350px;
  position: relative;
  top: -10px;
  left: 30px;
}
.login100-form-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #25523B;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #25523B;
}
/*----------------------------Blur effect--------------------------*/
.blur-filter-class{
  filter: blur(2px);
}
/*----------------------------Loading -----------------------------*/
.loading-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;
    
}
    .loader {
--cell-size: 52px;
--cell-spacing: 1px;
--cells: 3;
--total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
  flex-wrap: wrap;
width: var(--total-size);
height: var(--total-size);
}

.cell {
-webkit-box-flex: 0;
  -ms-flex: 0 0 var(--cell-size);
      flex: 0 0 var(--cell-size);
margin: var(--cell-spacing);
background-color: transparent;
-webkit-box-sizing: border-box;
      box-sizing: border-box;
border-radius: 4px;
-webkit-animation: 1.5s ripple ease infinite;
      animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
-webkit-animation-delay: 100ms;
      animation-delay: 100ms;
}

.cell.d-2 {
-webkit-animation-delay: 200ms;
      animation-delay: 200ms;
}

.cell.d-3 {
-webkit-animation-delay: 300ms;
      animation-delay: 300ms;
}

.cell.d-4 {
-webkit-animation-delay: 400ms;
      animation-delay: 400ms;
}

.cell:nth-child(1) {
--cell-color: #00FF87;
}

.cell:nth-child(2) {
--cell-color: #0CFD95;
}

.cell:nth-child(3) {
--cell-color: #17FBA2;
}

.cell:nth-child(4) {
--cell-color: #23F9B2;
}

.cell:nth-child(5) {
--cell-color: #30F7C3;
}

.cell:nth-child(6) {
--cell-color: #3DF5D4;
}

.cell:nth-child(7) {
--cell-color: #45F4DE;
}

.cell:nth-child(8) {
--cell-color: #53F1F0;
}

.cell:nth-child(9) {
--cell-color: #60EFFF;
}

/*Animation*/
@-webkit-keyframes ripple {
0% {
background-color: transparent;
}

30% {
background-color: var(--cell-color);
}

60% {
background-color: transparent;
}

100% {
background-color: transparent;
}
}
@keyframes ripple {
0% {
background-color: transparent;
}

30% {
background-color: var(--cell-color);
}

60% {
background-color: transparent;
}

100% {
background-color: transparent;
}
}
/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


