body{
  background-color: #E5E5E5;
 overflow-inline: hidden;
 margin:0;
 padding:0;
 height:100%;

}
nav{
  z-index: 999;
  
 }
 .nav-item{
   padding-right: 50px ;
 }
 .nav-item .nav-link{
   position: relative;
   right: -120px;
   font-family: 'Kantumruy Pro', sans-serif;
   font-weight: 700;
   letter-spacing:2pt;
   color: grey;
 }


.headertitle{
  position: absolute;
  left: 140px;
  bottom: 400px;
  padding: 1px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: #3B5347;
}
  .dot{
  position: absolute;
  width: 1104px;
  height: 924px;
  left: -400px;
  top: 150px;
  border-radius: 50%;
  display: inline-block;
  background-color: #83f28f;
  z-index: -1000;
}
.content p{
  position: absolute;
  width: 424px;
  height: 243px;
  left: 800px;
  top: 270px;
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  align-content: center; 
  text-align: justify;
  color: #454E5B;
}
.btn-primary{
  background-color: #83f28f;
  border-radius: 50px;
  border-style: none;
  width: 170px;
  height: 60px;
  position: relative  ;
  left: 800px;
  top: 510px;
  font-family: "Lato";
  font-style: Bold;
  font-weight: 800;

}
.container1{
  position: absolute;
  bottom: 45px;
  left: 130px;
}
.carousel{
  width:600px;
  height:350px;
}
.carousel-inner > .carousel-item > img {
  width:600px;
  height:350px;
  border-radius: 10px;
}
.carousel .carousel-indicators{
  position: absolute;
  left: 12px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
footer{
  clear: both;
    position: relative;
 
    margin-top: -200px;
}

.site-footer
{
  position:absolute;
  bottom:-500px;
  width:100%;
background-color:#3B5347;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color: #fff;

}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#fff;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block;
}
.footer-links h1
{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color:#fff;
  display: inline-block;
  }
.logo{
  position: absolute;
  left:1000px;
  bottom: 150px;
}

/*Reports */
.box-info{
  background-color: white;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom: -10px;
  left:400px ;
  margin-left: 6rem;
}
.box-info2{
  background-color: white;
  width: 350px;
  height: 135px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom:355px;
  left: 100px;

}
.box-info3{
  background-color: white;
  width: 350px;
  height: 135px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom:160px;
  left: 100px;

}
.reports{
  position: absolute;
  bottom:-50px;
  left: -20px;
}