body{
    background-color: #E5E5E5;
   overflow-inline: hidden;

}
#navbar{
  z-index:999;

}
.nav-item{
padding-right: 50px ;
}
.navbar-nav .nav-item .nav-link{
position: relative;
right: -120px;
color: grey;
}
.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}
.bgdesign{
    margin: auto;   
}
.headertitle{
    position: absolute;
    left: 140px;
    bottom: 430px;
    width: 647px;
    height: 111px;
    padding: 1px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #3B5347;
}
    .dot{
    position: absolute;
    width: 1104px;
    height: 924px;
    left: -400px;
    top: 150px;
    border-radius: 50%;
    display: inline-block;
    background-color: #83f28f;
    z-index: -1000;
}
.content p{
    position: absolute;
    width: 424px;
    height: 243px;
    left: 800px;
    top: 270px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    align-content: center; 
    text-align: justify;
    color: #454E5B;
}
.btn-primary{
    background-color: #83f28f;
    border-radius: 50px;
    border-style: none;
    width: 170px;
    height: 60px;
    position: relative  ;
    left: 800px;
    top: 510px;
    font-family: "Lato";
    font-style: Bold;
    font-weight: 800;

}
.container1{
    position: absolute;
    bottom: 45px;
    left: 130px;
}
.carousel{
    width:600px;
    height:350px;
}
.carousel-inner > .carousel-item > img {
    width:600px;
    height:350px;
    border-radius: 10px;
  }
.carousel .carousel-indicators{
    position: absolute;
    left: 12px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  footer{
    position: absolute;
    bottom: -500px;
    left: 0;
    right: 0;
  }
  .site-footer
{
  background-color:#3B5347;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
}
.footer-links h1
{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color:#fff;
    display: inline-block;
    }
.logo{
    position: absolute;
    left:1000px;
    bottom: 150px;
}
