html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

nav{
  z-index: 999;
  margin: 0;
  
 }
 .nav-item{
   padding-right: 50px ;
 }
 .nav-item .nav-link{
   position: relative;
   right: -120px;
   font-family: 'Kantumruy Pro', sans-serif;
   font-weight: 700;
   letter-spacing:2pt;
   color: grey;
 }


.headertitle{
  position: absolute;
  left: 140px;
  bottom: 400px;
  padding: 1px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: #3B5347;
}
  .dot{
  position: absolute;
  width: 1104px;
  height: 924px;
  left: -400px;
  top: 150px;
  border-radius: 50%;
  display: inline-block;
  background-color: #83f28f;
  z-index: -1000;
}
.content p{
  position: absolute;
  width: 424px;
  height: 243px;
  left: 800px;
  top: 270px;
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  align-content: center; 
  text-align: justify;
  color: #454E5B;
}

.slideImg{
  position: absolute;
  bottom: 45px;
  left: 130px;
}
.carousel{
  width:600px;
  height:350px;
}
.carousel-inner > .carousel-item > img {
  width:600px;
  height:350px;
  border-radius: 10px;
}
.carousel .carousel-indicators{
  position: absolute;
  left: 12px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
footer{
  clear: both;
    position: relative;
 
    margin-top: -200px;
}

.site-footer
{
  position:absolute;
  bottom:-500px;
  width:100%;
background-color:#3B5347;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color: #fff;

}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer .small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#fff;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block;
}
.footer-links h1
{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color:#fff;
  display: inline-block;
  }
.logo{
  position: absolute;
  left:1000px;
  bottom: 150px;
}

/*Reports */
.box-info{
  background-color: white;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom: -30px;
  left:400px ;
  margin-left: 6rem;
}
.container .powerbi{
  position: relative;
  bottom: -10px;
}
.box-info2{
  background-color: white;
  width: 350px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom:170px;
  left: 100px;

}
.box-info3{
  background-color: white;
  width: 350px;
  height: 180px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom:-30px;
  left: 100px;

}
.box-info4{
  background-color: white;
  width: 1194px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #888888;
  position: absolute;
  bottom: 500px;
  left: 100px;

}
.reports{
  position: absolute;
  bottom:-60px;
  left: -20px;
}
.whatneeded{
  margin-left: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #3B5347;
}
.scrolling{
  position: absolute;
  top: 40px;
}
.cashD{
  font-size: 16px;
  margin: 1rem;
}
.detailsD{
  margin: 1rem;
  font-weight: 400;
}
.categD{
  font-size: 16px;
  margin: 1rem;
}
.categDetails{
  margin: 1rem;
  font-weight: 400;
}

	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }


@media screen and (max-width:600px){

          .slideImg{
            position: relative;
            left: -50px;
          }
          .content p{
            position: relative;
            left: 90px;
            top: -700px;
            font-size: 30px;
            line-height: 45px;
          }
        
          
          .dot{
            width: 900px;
            height: 900px;
            position: relative;
            top: -300px;
            right: 3px;
          }
          .headertitle{
            position: relative;
            left: 50px;
            bottom: 300px;
            font-size: 30px;
            line-height: 50px;
          }
          .nav-item{
            padding-right: 10px;
          }
          .nav-item .nav-link{
              padding: 10px;
              position: relative;
              left: 8px;
              font-family: 'Kantumruy Pro', sans-serif;
              font-size: 13px;
              font-weight: 700;
              color: grey;
            }
        
            .carousel{
              position: relative;
              bottom: -200px;
              left: 86px;
            }
            .carousel-inner > .carousel-item > img {
              width:83%;
              height:350px;
              border-radius: 10px;
            }
            .carousel-control-next{
              position: relative;
              left: 392px;
              top: -187px;
            }
            .carousel-indicators li{
              position: relative;
              left: -50px;
            }
           
            footer{
              clear: both;
                position: relative;
             
                margin-top: 100px;
            }
            .site-footer{
              position:relative;
              bottom:-10px;
              width:100%;
              background-color:#3B5347;
              padding:45px 0 20px;
              font-size:15px;
              line-height:24px;
              color: #fff;
              overflow: hidden;
            }
            .logo{
              position: relative;
              left:330px;
              bottom: -120px;
            }
            }
@media screen and (max-width:398px){
  .slideImg{
    position: relative;
    left: -50px;
    }
.content{
  position: relative;
  bottom: -100px;
}
.content p{
    width: 220px;
    font-size: 18px;
    line-height: 30px;
    word-spacing:normal;
    }
  .dot{
    width: 800px;
    height: 700px;
    position: relative;
    top: -300px;
    right: 3px;
  }
  .headertitle{
    margin: auto;
    position: relative;
    left: 50px;
    bottom: 300px;
    font-size: 30px;
    line-height: 30px;
  }
 #myNavbar{
  margin: auto;
 }
  #myNavbar .nav-item .nav-link li{
      display: inline-block;
      text-align:center;
      font-family: 'Kantumruy Pro', sans-serif;
      font-weight: 700;
      color: grey;
    }

    .carousel{
      position: relative;
      bottom: -200px;
      left: 86px;
    }
    .carousel-inner > .carousel-item > img {
      width:50%;
      height:350px;
      border-radius: 10px;
    }
    .carousel-control-next{
      position: relative;
      left: 210px;
      top: -187px;
    }
    .carousel-indicators li{
      position: relative;
      left: -160px;
    }
   
    footer{
      clear: both;
        position: relative;
        margin-top: 100px;
        

    }
    #footer{
      height: 100px;
    }
    .site-footer{
      position:relative;
      bottom: 200px;
      width:100%;
      background-color:#3B5347;
      padding:45px 0 20px;
      font-size:15px;
      line-height:24px;
      color: #fff;
      overflow: hidden;
    }
   
    }
