
html,body{
    margin: 0;
    padding: 0;
    
}
body{
  background-color: #E5E5E5;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav{
  z-index: 999;
}
.nav-item{
  padding-right: 50px ;
}
.nav-item .nav-link{
  position: relative;
  right: -120px;
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 700;
  letter-spacing:2pt;
  color: grey;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#container{

    margin-bottom: 2em;
   
    flex: 1 1 auto;
    padding: 0 2em;
    text-align: justify;
}


.moneydot{
  position: absolute;
  width: 1104px;
  height: 924px;
  left: -400px;
  top: 120px;
  border-radius: 50%;
  display: inline-block;
  background-color: #83f28f;
  z-index: -1000;
}
.moneydot2{
  position: absolute;
  width: 600px;
  height: 600px;
  left: 900px;
  top: 600px;
  border-radius: 50%;
  display: inline-block;
  background-color: #83f28f;
  z-index: -1000;
}
/* RequestForm */

.moneyForm{
  position: relative;
  left: 590px;
  top: -215px;
  width:600px;
  padding: auto;
  overflow: hidden;
 
}
.col label{
  font-family:'Kantumruy Pro', sans-serif;
  font-weight: bold
}
.note label{
  font-family:'Kantumruy Pro', sans-serif;
  font-weight: bold
}
.select_opt label{
  font-family:'Kantumruy Pro', sans-serif;
  font-weight: bold
}
.monetary{
  margin-top: 20px;
  padding: 20px;
  width: 200px;
  border-radius: 30px;
  position: relative;
  left: 390px;
  background-color: #48bf53;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  
}
.submit-request:hover {background-color: #11823b}

.paragleft{
  position: relative;
  left: 250px;
  bottom: -250px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 70px;
  color: #3B5347;

}
.back{
  position: relative;
  left: 180px;
  bottom: -330px;
  color: #3B5347;
 
}

.back:hover{color: white}
/*ERROR */
.blank{
  border: 1px solid #e74c3c;
  box-shadow: 0px 0px 0px 1px #e74c3c;
}
.red{
  color: #e74c3c;
}
#footer{
  clear: both;
    position: relative;
 
    margin-top: -200px;
}

.site-footer
{
  position:absolute;
  bottom:-500px;
  width:100%;
background-color:#3B5347;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color: #fff;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
}
.footer-links h1
{
  font-family: 'Kantumruy Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#fff;
    display: inline-block;
    }
.logo{
    position: absolute;
    left:1000px;
    bottom: 150px;
}
